<template>
  <div class="container panel-body">
    <h2>Order Form Options</h2>
    <b-tabs>
      <b-tab title="Setup" active>
        <div class="col-6 my-5">
          <div class="mb-4">
            <h5>Name</h5>
            <b-form-input
              id="name-input"
              v-model="orderSettings.name"
              maxlength="35"
            />
          </div>
          <div class="mb-4">
            <h5>Event or Product Group</h5>
            <p>
              This Order form will show all Events or Products in the Group
              selected bellow.
            </p>
            <multiselect
              v-model="orderSettings.product_group"
              tag-placeholder="Add this as new product group"
              placeholder="Search or add a product group"
              label="name"
              track-by="code"
              :options="allProductGroups"
              :taggable="true"
              @tag="addProductGroup"
            ></multiselect>
          </div>
          <div class="mb-4">
            <h5>Add Success URL</h5>
            <p>
              A link to redirect your customers to after a successful purchase.
            </p>
            <b-form-input
              id="success-url-input"
              v-model="orderSettings.success_url"
            />
          </div>
          <div class="mb-4">
            <h5>Add Cancel URL</h5>
            <p>
              A link to redirect your customers to if they cancel their
              purchase.
            </p>
            <b-form-input
              id="cancel-url-input"
              v-model="orderSettings.cancel_url"
            />
          </div>
        </div>
      </b-tab>
      <b-tab title="Advanced">
        <p v-if="advanced" class="mb-2 mt-5">
          Customize your order form on the left side by selecting relevant
          fields. You can preview your changes on the right.
        </p>
        <div v-if="advanced" class="row">
          <div class="col-lg-5">
            <h4 class="mb-4 text-info">Customize</h4>
          </div>
          <div class="col-lg-5 ml-4">
            <h4 class="mb-4 text-info">Preview</h4>
          </div>
        </div>
        <div v-if="advanced" class="row">
          <div class="vue-form col-lg-5 ml-3 border p-4">
            <div>
              <b-form-group label="Customer Data">
                <b-form-checkbox-group
                  id="checkbox"
                  v-model="orderSettings.personal_data"
                  class="pt-3"
                  :options="options"
                  stacked
                />
              </b-form-group>
              <b-form-group label="Billing Address">
                <b-form-checkbox-group
                  id="checkbox-billing"
                  v-model="orderSettings.billing_address"
                  class="pt-3"
                  :options="billing_address"
                  stacked
                />
              </b-form-group>
              <b-form-group label="Shipping Address">
                <b-form-checkbox-group
                  id="checkbox-shipping"
                  v-model="orderSettings.shipping_address"
                  class="pt-3"
                  :options="shipping_address"
                  stacked
                />
              </b-form-group>
            </div>
            <button
              id="save-btn"
              class="btn-primary"
              @click="saveOrderFormSettings"
            >
              Save
            </button>
          </div>
          <div class="vue-form col-lg-5 p-4 form-bg ml-4">
            <form class="forms-sample" action method="post">
              <div class="form-group">
                <h4>{{ text }} Order Form</h4>
              </div>
              <div class="mb-3">
                <h5 class="pt-3 text-secondary">Customer Data</h5>
                <VueNestable
                  v-model="orderSettings.personal_data"
                  :max-depth="1"
                  key-prop="name"
                >
                  <VueNestableHandle slot-scope="{ item }" :item="item">
                    <strong>&#8645;</strong>
                    {{ item.text }}
                  </VueNestableHandle>
                </VueNestable>
                <h5 class="pt-3 mt-3 text-secondary">Billing Address</h5>
                <VueNestable
                  v-model="orderSettings.billing_address"
                  :max-depth="1"
                  key-prop="name"
                >
                  <VueNestableHandle slot-scope="{ item }" :item="item">
                    <strong>&#8645;</strong>
                    {{ item.text }}
                  </VueNestableHandle>
                </VueNestable>
                <h5 class="pt-3 mt-3 text-secondary">Shipping Address</h5>
                <VueNestable
                  v-model="orderSettings.shipping_address"
                  :max-depth="1"
                  key-prop="name"
                >
                  <VueNestableHandle slot-scope="{ item }" :item="item">
                    <strong>&#8645;</strong>
                    {{ item.text }}
                  </VueNestableHandle>
                </VueNestable>
              </div>
            </form>
          </div>
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import Vue from "vue";
import VueNestable from "vue-nestable";
import axios from "axios";
import { cloneDeep } from "lodash";
import OrderFormSettings from "@/dataObjects/OrderFormSettings";
import "vue-multiselect/dist/vue-multiselect.min.css";
import Multiselect from "vue-multiselect";

Vue.use(VueNestable);

export default {
  components: {
    Multiselect
  },
  data() {
    return {
      advanced: true,
      allProductGroups: [],
      text: "Awesome Event",
      message:
        "Enter here your sample text for confirming your customers' orders.",
      orderSettings: new OrderFormSettings(),
      options: [
        {
          text: "First name",
          value: {
            text: "First name",
            name: "first_name",
            placeholder: "Please enter your name",
            required: true
          }
        },
        {
          text: "Last name",
          value: {
            text: "Last name",
            name: "last_name",
            placeholder: "Please enter your name",
            required: true
          }
        },
        {
          text: "Email address",
          value: {
            text: "Email address",
            name: "email",
            placeholder: "Please enter your email",
            required: true
          }
        },
        {
          text: "Phone number",
          value: {
            text: "Phone number",
            name: "phone",
            placeholder: "Please enter your phone number",
            required: false
          }
        }
      ],
      billing_address: [
        {
          text: "Country",
          value: {
            text: "Country",
            name: "country",
            placeholder: "Please enter your country",
            required: false
          }
        },
        {
          text: "Region",
          value: {
            text: "Region",
            name: "region",
            placeholder: "Please enter your registration",
            required: false
          }
        },
        {
          text: "City",
          value: {
            text: "City",
            name: "city",
            placeholder: "Please enter your city",
            required: false
          }
        },
        {
          text: "Address",
          value: {
            text: "Address",
            name: "address",
            placeholder: "Please enter your address",
            required: false
          }
        },
        {
          text: "Postal Code",
          value: {
            text: "Postal Code",
            name: "postal_code",
            placeholder: "Please enter your postal code",
            required: false
          }
        }
      ],
      shipping_address: [
        {
          text: "Country",
          value: {
            text: "Country",
            name: "country",
            placeholder: "Please enter your country",
            required: false
          }
        },
        {
          text: "Region",
          value: {
            text: "Region",
            name: "region",
            placeholder: "Please enter your registration",
            required: false
          }
        },
        {
          text: "City",
          value: {
            text: "City",
            name: "city",
            placeholder: "Please enter your city",
            required: false
          }
        },
        {
          text: "Address",
          value: {
            text: "Address",
            name: "address",
            placeholder: "Please enter your address",
            required: false
          }
        },
        {
          text: "Postal Code",
          value: {
            text: "Postal Code",
            name: "postal_code",
            placeholder: "Please enter your postal code",
            required: false
          }
        }
      ]
    };
  },
  methods: {
    validateName() {
      const length = (this.orderSettings.name || "").length;
      if (length < 2) {
        return "Name must be at least 2 characters long.";
      }
      return "";
    },
    saveOrderFormSettings() {
      this.orderSettings.organizer_key = this.$store.state.organizer._key;
      this.$store
        .dispatch("OrderStore/saveSettings", this.orderSettings)
        .then(response => {
          this.$router.push("/orders/order_forms");
          // console.log(response);
        })
        .catch(error => {
          // console.log(error);
        });
    }
  }
};
</script>